%h1
  Вход
= form_tag sessions_path, :class => "form-horizontal" do
  %fieldset
    .control-group
      = label_tag :email, "Электропочта"
      .controls
        = text_field_tag :email, params[:email]
    .control-group
      = label_tag :password, "Пароль", :class => "control-label"
      .controls
        = password_field_tag :password
    .control-group
      .controls
        %label{:class => "control-label"}
          = check_box_tag(:remember_me)
          Запомнить надолго?
    .control-group
      .controls
        = submit_tag "Войти", :class =>"btn btn-primary"
