%html
  %body
    %h1 Я хочу стать наблюдателем
    %p
      = "Моё имя — #{@user.name}"
    %p
      = "Адрес — #{@user.email}"
    %p
      = "УИК — #{@user.commission.name}"
    %p
      = "Номер профиля — #{@user.id}"
    %p
      = "Регион — #{@user.commission.root.name}"
