%html
  %head
    %meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    %h1 Я хочу стать наблюдателем
    %p
      = "Моё имя — #{@user.name}"
    %p
      = "Регион — #{@user.commission.name} "
      = link_to 'УИК', commission_path(@user.commission)
