%header
  %h1 Загрузка цифровых копий
.row
  .span12
    = form_for @folder do |f|
      = render 'form', :f => f
      .actions
      = f.submit 'Сохранить'
    %h1 Загрузка файлов
    #pictures
      = render :partial => 'pictures/picture', :collection => @folder.pictures

.row
  .span12
    = form_for :picture, :url => folder_pictures_path(@folder), :html => { :class => 'pics_upload', :multipart => true} do |f|
      = f.file_field :image, :multiple => true, :name => 'picture[image]'
      .upload_files

    = link_to 'Назад', folders_path
