%h1 Editing folder

= render 'form'

#pictures
  = render :partial => '/pictures/picture', :collection => @folder.pictures

= form_for :picture, :url => folder_pictures_path(@folder),
:html => { :class => 'pics_upload', :multipart => true} do |f|
  = f.file_field :image, :multiple => true, :name => 'picture[image]'
  %table.upload_files

= link_to 'Show', @folder
|
= link_to 'Back', folders_path
