%header
  %h1 Массовая загрузка

%p= link_to 'Создать папку', new_folder_path, :class => 'btn'

- @folders.each do |folder|
  %p
    %h3.region
      - if can? :edit, folder
        = link_to folder.commission.name, edit_folder_path(folder)
      - else
        = folder.commission.name
    = "(#{folder.comment})" unless folder.comment.empty?
    = " - создана: #{l folder.created_at}, создал: #{folder.created_by.name}, файлов: #{folder.pictures.size}"
    %br
    = link_to 'Начать работу', "/protocols/unfold/#{folder.id}",
      :method => :post, :class => 'btn'
    - if can? :destroy, folder
      = link_to 'Удалить', folder_path(folder), :method => :delete,
        :confirm => 'Вы уверены?', :class => 'btn btn-danger'

- if current_user.role? :admin
  %p
    %h2 Зарезервированные

  %table.folders
    %tr
      %th Регион
      %th Комментарий
      %th Создана
      %th Автор
      %th Зарезервировал
      %th Файлов
      %th ...
      %th ...
    - @reserved_folders.each do |folder|
      %tr
        %td= link_to folder.commission.name, edit_folder_path(folder)
        %td= folder.comment
        %td= l folder.created_at
        %td= folder.created_by.name
        %td= folder.user.name
        %td= folder.pictures.size
        %td= link_to 'Освободить', release_folder_path(folder), :method => :post
        %td= link_to 'Удалить', folder_path(folder), :method => :delete, :confirm => 'Вы уверены?' if can? :destroy, folder
