%p#notice= notice

%p
  %b Commission:
  = @folder.commission.name

%p
  %b Comment:
  = @folder.comment

%p
  %b Created by:
  = @folder.created_by.name

= form_for :protocol, :url => protocols_path do |f|
  = f.submit

= link_to 'Edit', edit_folder_path(@folder)
|
= link_to 'Back', folders_path
