<p id="notice"><%= notice %></p>

<p>
  <b>Commission:</b>
  <%= @folder.commission_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @folder.comment %>
</p>

<p>
  <b>Created by:</b>
  <%= @folder.created_by_id %>
</p>

<p>
  <b>User:</b>
  <%= @folder.user_id %>
</p>


<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
