%header
  %h1= @user.email
.row
  .span4
    = simple_form_for @user do |f|
      = f.input :role, :label => 'Роль', :collection => User::ROLES, :include_blank => false if can? :update_role, current_user
      = f.input :name, :label => "ФИО полностью:"
      -unless @user.commission
        = f.input :commission, :label => "Регион:", :collection => Commission.where(:ancestry => nil, :election_id => 2).all(:order => 'name ASC').collect{|c| [ c.name, c.id ]}, :selected => @user.commission_id
      -#= f.input :name, :label => "Номер участка:"
      -#= f.input :name, :label => "Номер телефона:"
      -#= f.input :name, :label => "Доверяющий:"
      -#= f.input :name, :label => ":"
      = f.submit('Сохранить', :class => "btn btn-primary")

  .span4
    -if @user.commission
      %h2= @user.commission.is_uik? ? "Вы наблюдатель на" : "Ваш регион"
      %p 
        = link_to @user.commission.name, commission_path( @user.commission.id )
        = "(#{@user.commission.root.name})  "
      %p 
        = link_to 'Отказаться от наблюдения', del_watcher_commissions_path, :class => "btn" if @user.commission.is_uik?

  .span3
    -if @user.commission
      =raw '<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script><!-- VK Widget --><div id="vk_groups"></div><script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 1, width: "200", height: "290"}, "'+VK_GROUP[@user.commission.root.id].to_s+'");</script>'
