%h1 Регистрация 
= simple_form_for @user do |f|
  = f.input :email, :label => "Электропочта"
  = f.input :password, :label =>  "Пароль"
  = f.input :password_confirmation, :label => "Повтор пароля"
  = f.button :submit, "Зарегистрироваться"
