%li
  = request.domain
- if login?
  %li
    = link_to('Выйти', session_path(session.object_id), :method=>'delete')
  %li
    = link_to('Править', edit_user_path(current_user))
  %li
    = link_to( 'Проверить протоколы', checking_protocols_path()) if can? :cheking, Protocol
- else
  %li
    = link_to('Войти', new_session_path)
  %li
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  %a.btn.btn-danger{:href => new_user_path}
    Регистрация
