-#%p
  Фильтровать по названию: 
  %input#go-to.xlarge{:name => "search", :size => "30", :type => "text"}  
.row
  .span10
    - @elections.each do |election|
      %h2
        = election.name
      %div.row
        %div.span12
          - election.commissions.roots.all(:order => :name).each do |commission|
            %div.tree-root
              %h4
                = link_to "#{commission.name}", :controller => "commissions", :action => "show", :id => commission.id  
  .span2
    Протоколов:
    %h2.green
      %span{:title => "Проверенных протоколов"}= @checked_count
      - if @unchecked_count
        %sup.green{:title => "В ожидании проверки"}= "(#{@unchecked_count})"
  .span2
    Наблюдателей:
    %h2.green= @users_count
