-#%p
  Фильтровать по названию: 
  %input#go-to.xlarge{:name => "search", :size => "30", :type => "text"}  
.row
  .span4
    = form_tag '/uik_by', :method => "get", :class => "well form-search" do
      = label_tag :id, "Номер УИК"
      = text_field_tag :id, params[:id], :class => "input-medium search-query span1"
      = raw '<button class="btn" type="submit">показать</button>'
  .span9
    - @elections.each do |election|
      %h2
        = election.name
      .row
        .span12
          - election.commissions.roots.all(:order => :name).each do |commission|
            %div.tree-root
              %h4
                = link_to "#{commission.name}", :controller => "commissions", :action => "show", :id => commission.id  
  .span2
    Протоколов:
    %h2.green
      %span{:title => "Проверенных протоколов"}= @checked_count
      - if @unchecked_count
        %sup
          %small.green{:title => "В ожидании проверки"}= "(#{@unchecked_count})"
  .span2
    Наблюдателей:
    %h2
      %span.green{:title => "Зарегистрировано на сайте"}= @users_count
      %sup
        %small.green{:title => "Данные из Вконтакта и школ наблюдателей КАРИК"} (>2000)
