-#%p
  Фильтровать по названию: 
  %input#go-to.xlarge{:name => "search", :size => "30", :type => "text"}  
.row
  .span4
    = form_tag '/uik_by', :method => "get", :class => "well form-search" do
      = label_tag :id, "Номер УИК"
      = text_field_tag :id, params[:id], :class => "input-medium search-query span1"
      = raw '<button class="btn" type="submit">показать</button>'
  .span6
    %h1
      %a{:href => "#2"}
        2011 думские выборы
  .span12
    - @elections.reverse.each do |election|
      %h2
        = election.name
      -if election.id == 1
        .row
          .span11
            -Commission.where(:id => [18, 85911, 78266, 89960, 54]).each do |c|
              %div.tree-root
                %h4
                  = link_to "#{c.name}", :controller => "commissions", :action => "show", :id => c.id
                  %sup
                    %small
                      = c.descendants.where('votes_taken=true').size
            %nobr — наиболее полные сведения
          .span1
            Протоколов:
            %h2.green
              %span{:title => "Проверенных протоколов"}= @checked_count
              - if @unchecked_count
                %sup
                  %small.green{:title => "В ожидании проверки"}= "(#{@unchecked_count})"
        - else
          .row
            -#.span11
              -Commission.where(:id => []).each do |c|
                %div.tree-root
                  %h4
                    = link_to "#{c.name}", :controller => "commissions", :action => "show", :id => c.id
                    %sup
                      %small
                        = c.descendants.where('votes_taken=true').size
              %nobr — наиболее полные сведения
            .span1{:style => "float: right"}
              Наблюдателей:
              %h2
                %span.green{:title => "Зарегистрировано на сайте"}= @users_count
                %sup
                  %small.green{:title => "Данные из Вконтакта и школ наблюдателей КАРИК"} (>2000)

        %p
          %br
      .row
        .span12
          - election.commissions.roots.all(:order => :name, :conditions => ["id NOT IN (?)", [18, 85911, 78266, 89960, 54, 31957]]).each do |c|
            %div.tree-root
              %h4
                = link_to "#{c.name}", :controller => "commissions", :action => "show", :id => c.id
                %sup
                  %small
                    = c.descendants.where('votes_taken=true').size
      %span{:id=>election.id}
      %p
        %br
      %p
        %br
