%header
  .breadcrumb
    %li
      %a{:href => '/'} Регионы
      %span.divider →
    - @commission.ancestors.each do |c|
      %li
        %a{:href => commission_path(c.id)}= c.name
        %span.divider →
.row
  .span9
    %div.navigation-holder
      %a.show-navigation{:href=>"#"}
        = @commission.name
      %div.tree-navigation
        %br
    - @commission.subtree.where(:is_uik => false).all.each do |child|
      -# if child.depth != @commission.depth
      %div.tree-node-holder{"id" => child.id, "class" => "depth-#{child.depth}"}
        %div.node-name
          %div.name
            %h3{"id"=>child.id,"data-depth"=>child.depth}
              - if child.uik_holder
                %a.load-new.ajax{ :href => "##{child.id}" }
                  = child.name
                %sup
                  %small
                    = child.descendants.where(:votes_taken => true).size
              - else
                = child.name
                %sup
                  %small= link_to('цик', child.url)
          .clearfix
        - if child.uik_holder
          %div.votings{"data-id"=>child.id, "data-loaded"=>"false", "data-url"=>"/uik/#{child.id}"}
            %div.loading
              = image_tag('ajax-loader.gif')
  .span3
    Протоколов:
    %h2.green
      %span{:title => "Проверенных протоколов"}= @checked_count
      - if @unchecked_count
        %sup.green{:title => "В ожидании проверки"}= "(#{@unchecked_count})"
    -if current_user
      #get_csv
        = link_to "Скачать данные КАРИК", get_csv_commission_path(@commission, "uik"), :class => "btn btn-warning"
        = link_to "Скачать данные ЦИК", get_csv_commission_path(@commission, "cik"), :class => "btn btn-warning"
    #vk_com
      Наблюдатели в данном регионе:
      =raw '<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script><!-- VK Widget --><div id="vk_groups"></div><script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "290"}, "'+VK_GROUP[@commission.root.id].to_s+'");</script>'
