%header
  .breadcrumb
    %li
      %a{:href => '/'} Регионы
      %span.divider →
    - @commission.ancestors.each do |c|
      %li
        %a{:href => commission_path(c.id)}= c.name
        %span.divider →
.row
  .span9
    %div.navigation-holder
      %a.show-navigation{:href=>"#"}
        Содержание
        -#@commission.name
      %div.tree-navigation
    - if c = @commission
      %div.tree-node-holder{"id" => c.id, "class" => "depth-#{c.depth}"}
        %div.node-name
          %div.name
            %h3{"id"=>c.id,"data-depth"=>c.depth}
              - if c.uik_holder
                %a.load-new.ajax{ :href => "##{c.id}" }
                  =raw "#{c.name}&nbsp;"
                %sup
                  %small{:title => "собрано протоколов / всего протоколов"}
                    - if (c_size = c.descendants.where('votes_taken=true').size) > 0
                      = "#{c_size}/#{c.descendants.size} " 
              - else
                =raw "#{c.name}&nbsp;"
                %sup
                  %small= link_to('цик', c.url)
            - if c.state && c.state[:summary]
              = render 'shared/summary', :summary => c.state[:summary]
        - if c.uik_holder
          %div.votings{"data-id"=>c.id, "data-loaded"=>"false", "data-url"=>"/uik/#{c.id}"}
            %div.loading
              = image_tag('ajax-loader.gif')
    - @commission.descendants.where(:is_uik => false).all.each do |c|
      -# if c.depth != @commission.depth
      %div.tree-node-holder{"id" => c.id, "class" => "depth-#{c.depth}"}
        %div.node-name
          %div.name
            %h3{"id"=>c.id,"data-depth"=>c.depth}
              - if c.uik_holder
                %a.load-new.ajax{ :href => "##{c.id}" }
                  =raw "#{c.name}&nbsp;"
                %sup
                  %small{:title => "собрано протоколов / всего протоколов"}
                    - if (c_size = c.descendants.where('votes_taken=true').size) > 0
                      = "#{c_size}/#{c.descendants.size}" 
              - else
                =raw "#{c.name}&nbsp;"
                %sup
                  %small= link_to('цик', c.url)
        - if c.uik_holder
          %div.votings{"data-id"=>c.id, "data-loaded"=>"false", "data-url"=>"/uik/#{c.id}"}
            %div.loading
              = image_tag('ajax-loader.gif')
  .span3
    Протоколов:
    %h2.green
      %span{:title => "Проверенных протоколов"}= @checked_count
      - if @unchecked_count
        %sup.green{:title => "В ожидании проверки"}= "(#{@unchecked_count})"
    #vk_com
      #get_csv
        = link_to raw('<i class="icon-file"></i>Скачать данные КАРИК'), get_csv_commission_path(@commission, "uik")
        %br
        или 
        = link_to raw('<i class="icon-file"></i>данные ЦИК'), get_csv_commission_path(@commission, "cik")
        (формат ЦСВ)
      %br
      Наблюдатели в данном регионе:
      =raw '<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script><!-- VK Widget --><div id="vk_groups"></div><script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "290"}, "'+VK_GROUP[@commission.root.id].to_s+'");</script>'
