%div.navigation-holder
  %a.uik-navigation{:href => '/'}
    = 'Регионы'
  &nbsp;→&nbsp;
  - @commission.ancestors.each do |c|
    %a.uik-navigation{:href => commission_path(c.id)}
      = c.name
    &nbsp;→&nbsp;
%h1
  = @commission.name
  %a.ico-link.sprite-link{:href=>@commission.url}
%table
  - @protocols.each do |p|
    - if p == @protocols.first
      %tr
        %td
          %a{:href=>@commission.url}
            ЦИК
        - p.votings.each_with_index do |vote,i|
          %td{"title"=>p.voting_name(i+1)}
            = vote
    - else
      %tr{:id => ('protocol_'+p.id.to_s)}
        %td
          %a{:href => commission_protocol_path(@commission.id, p.id), :class => (if p.conflict then "red" else "green" end)}
            = 'КАРИК №' + p.id.to_s
            - if can? :destroy, p
              = link_to "X", protocol_path(p.id), :method => :delete, :confirm => "Удалит протокол?", :remote => :true

        - p.votings.each_with_index do |vote,i|
          %td{"title"=>p.voting_name(i+1), :class => vote_class(p, i+1)}
            = vote
      %tr{:id => ('protocol_pic_'+p.id.to_s)}
        %td{:colspan => p.votings.count+1}
          #pictures
            - p.pictures.each do |pic|
              .picture[pic]
                %a{:href => pic.image_url}
                  = image_tag pic.image_url(:thumb) if pic.image?
-if can? :new, @commisssion
  %a{:href => new_commission_protocol_path(@commission.id)}
    Загрузить новый протокол
%br
%br
%div#disqus_thread
%script(type="text/javascript")
  - if ENV['RAILS_ENV'] == 'production'
    var disqus_shortname = 'nk12'; // required: replace example with your forum shortname
  - else
    var disqus_shortname = 'example'; // required: replace example with your forum shortname
  :plain

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
