%header
  %h1
    = "Протокол к "
    %a{:href => commission_path(@uik.id)}
      =@uik.name+'('+@uik.root.name+')'
%br
.row
  .span8
    %h2 Данные с копии протокола
    - if can? :check, @protocol and @protocol.priority > 99
      %div{:id => ("protocol_#{@protocol.id}")}
        = link_to 'Одобрить', check_protocol_path(@protocol.id), :method => :post, :confirm => "Подтвердить протокол?", :remote => :true, :title => "Подтвердить", :class => 'btn btn-danger'
    = render "form"
  .span3.alert.alert-info 
    %h3
      Цифровые копии протокола и других документов c участка
    #pictures
      = render :partial => 'pictures/picture', :collection => @protocol.pictures
    - if can? :update, @protocol
      .files
        = form_for Picture.new,
          :url => commission_protocol_pictures_path(@protocol.commission_id, @protocol),
            :html => { :class => "upload", :multipart => true } do |f|
          = f.file_field :image, :class => 'pics_upload', :multiple => true,
            :name => 'picture[image]'
          .upload_files
