%header
  %h1 Работа с папкой

%h2= @folder.commission.name
%p= @folder.comment

- if @protocol.errors.any?
  #error_explanation
    %h2 Не удалось создать протокол
    %ul
      - @protocol.errors.full_messages.each do |msg|
        %li= msg
= form_for @protocol, :as => :protocol,
  :url => protocols_path(:folder_id => params[:folder_id]) do |f|
  =content_for :head do
    = stylesheet_link_tag 'zoom'
    = javascript_include_tag 'zoom'

  %ul
    - @folder.pictures.each do |picture|
      %li.pic-container{:onMouseOver => "$('span', this).show()", :onMouseOut => "$('span', this).hide()"}
        %span.pic-action
          = link_to image_tag(asset_path("lens.png")), picture.image_url, :class => "zoom" if picture.image?
          =# image_tag asset_path("lens.png") if picture.image?
        = check_box_tag 'protocol[folder_pics][]', picture.id, @protocol.folder_pics.include?(picture.id.to_s), :class => "photo_checkbox"
        = image_tag picture.image_url(:preview), :onClick => "change_state($(this).parent())"
    
  #uik_panel
    = f.label :uik_num
    (номер)
    = f.text_field :uik_num
    = f.submit 'Внести выделенные файлы'
    %br
    %br
    = button_to 'Закончить работу с папкой', release_folder_path(@folder)


:javascript
  function change_state( li ){
    chk = $("input", $(li) );
    if (chk.attr("checked")){
      $(li).removeClass("alert-info");
      chk.removeAttr("checked");
    }else{
      $(li).addClass("alert-info");
      chk.attr("checked", "checked");
    }
  }