- if @protocol.errors.any?
  #error_explanation
    %h2= "#{pluralize(@protocol.errors.count, "error")} prohibited this protocol from being saved:"
    %ul
      - @protocol.errors.full_messages.each do |msg|
        %li= msg
= form_for @protocol, :as => :protocol,
  :url => protocols_path(:folder_id => params[:folder_id]) do |f|
  - @folder.pictures.each do |picture|
    = check_box_tag 'protocol[folder_pics][]', picture.id,
      @protocol.folder_pics.include?(picture.id.to_s)
    = image_tag picture.image_url(:preview) if picture.image?

  = f.text_field :uik_num
  = f.submit

= button_to 'Release', release_folder_path(@folder)
