%header
  %h1 Работа с папкой

%h2= @folder.commission.name
%p= @folder.comment

- if @protocol.errors.any?
  #error_explanation
    %h2 Не удалось создать протокол
    %ul
      - @protocol.errors.full_messages.each do |msg|
        %li= msg
= form_for @protocol, :as => :protocol,
  :url => protocols_path(:folder_id => params[:folder_id]) do |f|
  - @folder.pictures.each do |picture|
    .photo{:style => "display: inline"}
      = check_box_tag 'protocol[folder_pics][]', picture.id, @protocol.folder_pics.include?(picture.id.to_s), :id => "pic_#{picture.id.to_s}", :class => "photo_checkbox"
      = image_tag picture.image_url(:preview), :onClick => "change_state(#{picture.id.to_s})", :class=>"folder-pic" if picture.image?
  
  #uik_panel
    = f.label :uik_num
    (номер)
    = f.text_field :uik_num
    = f.submit 'Создать протокол'

= button_to 'Закончить работу с папкой', release_folder_path(@folder)

:javascript
  function change_state( id ){
    pic = $('#pic_'+id);
    img = $( 'img', pic.parent() );
    if ( pic.attr('checked') ){
      img.removeClass('alert-info');
      pic.removeAttr('checked');
    }else{
      img.addClass('alert-info');
      pic.attr('checked', 'checked');
    }
  }