!!!
%html
  %head
    %title Nkapp
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)

  %body{:class => params[:controller]}
    #container.container
      %header
        %nav
          %ul.hmenu
            = render 'shared/navigation'
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_\#{name}" if msg.is_a?(String)
      #main{:role => "main"}
        = yield
      %footer
:javascript
    var reformalOptions = {
        project_id: 54065,
        project_host: "nk12.reformal.ru",
        force_new_window: false,
        tab_alignment: "right",
        tab_top: "300",
        tab_bg_color: "#F08200",
        tab_image_url: "http://tab.reformal.ru/0J%252FRgNC10LTQu9C%252B0LbQtdC90LjRjyDQv9GA0L7QtdC60YLRgw==/FFFFFF/0bbddf01a0d75b7c53d59f57dec259ba"
    };
    
    (function() {
        //var script = document.createElement('script');
        //script.type = 'text/javascript'; script.async = true;
        //script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v1/reformal.js';
        //document.getElementsByTagName('head')[0].appendChild(script);
    })();
